<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<style>


  #myDIV {
    width: 100%;
    text-align: center;
    background-color: #141414;
    margin-top: 80px
  }

.button {
  background-color: #10e6cd; /* Green */
  border: none;
  color: #141414;
  text-align: left;
  font-size: 64px;
  padding: 20px 0px;
  transition-duration: 0.6s;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  border-radius: 32px;
  font-family: "Ubuntu", Ubuntu;

}

.button1 {
  background-color: #141414;
  color: #10e6cd;
  border: 2px solid #10e6cd;
  font-size: 64px;
  padding: 20px 0px;
  transition-duration: 0.6s;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  border-radius: 32px;
  font-family: "Ubuntu", Ubuntu;
}

.button1:hover {
  background-color: #10e6cd;
  color: #141414;
}


#txtarea {
    font-size: 24px;
    font-family: "Ubuntu", Ubuntu;
    border-radius: 32px;
    width:80%;
    height: 150px;
    background-color:#141414;
    color: white;
    border: 2px solid #10e6cd;
    padding: 20px 20px 20px 20px;
    margin-top: 20px


  }

</style>
<body  style="background-color:#141414;height='100%';width='100%'">
<label class="button" style="font-size:20px;display: block;margin-top: 80px;margin-bottom: 0px;padding: 20px 20px 20px 20px;">
This application has just now come into action so this may still have some minor problems...<br>
If you find any bugs please report at the Contact page
</label>
<div id="myDIV" style="display:block;padding-top: 3px;background-color: none;margin-top: 25px" >


<label class="button" style="font-size:22px;width: 90%;height: auto;margin-top: 10px;padding: 20px 20px 20px 20px;display:block">
<strong>FOR STUDENTS</strong><br><br>
1) You have no access for the teacher page, if you try entering it, teachers will know who's trying to enter.<br><br>

2)In the student page you will have two options:-<br><br>

<strong>2A) Write test<br><br></strong>

i)The very first thing you need, to write a test is the test name.<br>
Carefully collect the test name from your teacher and enter the test name as it is.<br>
If it shows error, double check the test name from your teacher and try again.<br><br>

ii) Next is your unique id...<br><br>

Every student will have a unique id using which only you can write the test.<br><br>

The id is nothing but a combination of your admission number, class, section and date of birth.<br><br>

<strong>
Example:<br>
If your...<br>
Admission No: 13732<br>
Class: 10<br>
Sec: B<br>
DOB: 12/02/2004<br><br>

Then your id will be...<br>
(admNo)(class)(sec)(DDMMYYYY)<br>
that is...<br>
13732100212022004<br><br>

For<br>
A sec: 01<br>
B sec: 02<br>
C sec: 03<br>
D sec:04<br><br>
</strong>

If you have trouble understanding this format, please approach your teacher.<br><br>

iii) Once you enter the details<br>
correctly, you will be redirected to the test writing page.<br><br>

As soon as you click ok, the timer will start, you can find the timer always on the top right corner of your screen.<br><br>

If you try to change tabs, or minimize your test window, all the answers that you've typed will be deleted, so be careful.<br>
Also to prevent malpractices, the copy paste facility has been removed.<br>
You can leave a question without attempting, but however it is not recommended.<br>
It's very important for you to attempt all the questions.<br>
If you find the question box too small and if you find scrolling so difficult, you can drag the bottom right corner of the text box to the required size.<br>
Once the timer gets over, the test will be submitted automatically, but if you wish to submit the test before the time allotted, you can click on submit button to submit the test manually.<br><br>

<strong>2B) View results</strong><br><br>
i) You can click this button and fill up the details like testname and your unique id, to see your results<br>
If you see a blank page after entering the details, it means that your teacher has not evaluated your paper yet.<br><br>

<strong>3) General</strong><br>
i) You can use the browser back button for navigating between pages, and in whichever page you're, you can click on the logo to go back or home screen.<br><br>

ii)It is highly recommended not to share your unique id with anyone else, as it may create unwanted issues.<br><br>

</label><br><br>
<label class="button" style="font-size:22px;width: 90%;height: auto;margin-top: 10px;padding:20px 20px 20px 20px;display: block;">
<strong>FOR TEACHERS<br><br></strong>

1) The teacher page is secured with password protection, please remember the password and the password is same for any teacher.
Never disclose the password with any student, it may create unwanted issues.<br><br>

2) Inside the teacher page there are 3 options...<br><br>

<strong>2A) Create Test<br></strong>
i) You have to fill up some details before inputting questions.<br><br>

ii) Test name is the most important part, it is like a password, students can write the test only when they have the test name, it is very unique and no two tests can have same name. It is very important for you to remember the test name and make sure you pass the test name to your students correctly.<br><br>

Some eg for choosing test name:-<br>
If you want to create a test in the chapter light for 10 C...<br><br>

Test name can be created as<br>
... light10c or LIGHT10C<br><br>

<strong>Avoid using combination of both uppercase and lowercase letters as it may lead to confusion, also avoid using spaces<br></strong><br><br>

iii) You can add subjective or objective questions one by one..<br>
..it is very important to choose and type the question carefully, because once a question is added it can't be removed.<br><br>

iv)Image based questions can also be created, adding image for each questions is optional, it's up to you whether you want an image based questions or not.<br>
(.jpg , .jpeg & .png are the supported formats for the image)<br><br>

v) Also enter the marks for each questions.<br><br>

vi)Finally after filling out everything, you can click on create test button to submit the test.<br><br>


<strong>2B) Evaluate Submissions<br></strong><br>
i)You have to enter the test name to evaluate. Once you enter the test name and click submit, you can see the list of students who have attempted the test, and there'll be a button below every student name, if the button says evaluate, it means the particular student's paper has not been evaluated so by clicking it you can start evaluating the paper. If you see a blank page, it means no one has written the test yet.<br><br>

If the button says "Done" it means you have already evaluated that student's paper.<br><br>

Inside any student's page, if you see a blank page, it means the particular student has not even attempted a single question.<br><br>

ii) In the evaluation page you will get to see the questions and answers and below every question you can see the answer given by the particular student.<br><br>

iii)You can check the answer and below every question there'll be box where you can enter the marks given by you, you will also get to see the total marks of that question beside it.<br><br>

iv)After evaluation, click on submit.Make sure you have entered marks for every student,<strong>because you can't re-evaluate a student's paper.</strong><br><br>


<strong>2C) View Result<br></strong><br>
i) Enter the test name and submit.<br><br>

ii) You will get to see the student's name and marks secured by them in a proper table.<br><br>

iii)If you see a blank page it means, you've not evaluated any paper yet.<br><br>


<strong>3) General<br></strong><br>
i) You can use the back button in the browser for navigating between pages.<br><br>

ii) In whichever page you are, you can click on the e-Xam logo to go back or home page.<br><br>

<strong>iii) If you're having any doubts or If you face any problem using the site or if you find any issues please tell us as soon as possible so that we'll fix it asap. You can use the messenger in the contact page in the site or you can send an email to the id:feedback.xamforhvf@gmail.com.<br><br></strong>


</label>
</div>
<br>
<br>
<div style="background-color:#141414;width:100% ;height:90px;display: block;padding-top: 0px;text-align: center;">
<button style="width: 5%;font-size: 20px" class="button1" onclick="window.location.href = '/';">OK</button>
</div>
</body>
</html>